
.elemento {
    list-style-type: none;
}
.circulos {
    list-style-type: circle;
}
.cuadrados {
    list-style-type: square;
}
.romanos {
    list-style-type: upper-roman;
}
.griegas {
    list-style-type: lower-greek;
}